IDI_ICON1		ICON		DISCARDABLE	"GTLabEditor.ico"

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "GT LAB\0"
            VALUE "FileDescription", "GT Lab Editor\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "GTLabEditor\0"
            VALUE "LegalCopyright", "Original copyrights preserved; see bundled notices and license.\0"
            VALUE "OriginalFilename", "GTLabEditor.exe\0"
            VALUE "ProductName", "GT Lab Editor\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

